[Unit]
Description=Xmas Tree

[Service]
ExecStart=/home/pi/raspberry-xmas-tree/startup.sh
Restart=on-failure
SuccessExitStatus=3 4
RestartForceExitStatus=3 4

[Install]
WantedBy=multi-user.target
